/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1{
   font-family: 'Poiret One', cursive;
   font-weight: 600;
   font-size: 2em;
   margin: 0;
   margin-bottom: -0.25em;
   color: #534462;
   text-shadow: 0 2px 0 #dde;
}

h2{
   font-family: 'Abel', sans-serif;
   font-weight: 400;
   font-size: 1.25em;
   margin: 0;
   padding: 0.25em;
   //border-bottom: 3px double #4A5CB7;
   //border-bottom: 1px solid #4A5CB7;
   //background: #534462;
   //color: #F0F0F0;
   color: #534462;
}

h3{
   font-family: 'Abel', sans-serif;
   font-weight: 600;
   font-size: 1.25em;

   color: #534462;

   border-bottom: 1px solid #4A5CB7;

   margin-top: 0;
   text-align: left;
   padding-left: 2%;
   padding-top: 0.25em;
   padding-bottom: 0em;
}

h4{
   color: #4A5CB7;
   margin: 0;
   font-size: 1em;
}

h5{
   margin: 0;
   font-size: 0.9em;
}


table{
   width: 100%;

}


p{ 
   width: 100%;
   margin-top: 0;
}

body{
   background: #EEF;
   font-weight: 400;
   font-family: 'Open Sans', sans-serif;
}

header{
   padding: 1em;
   max-width: 100%;
   text-align: center;
}

hr{
   clear: both;
}

#container {
   background: #FAFAFA;
   max-width: 67em;
   padding: 0;

   margin-left: auto;
   margin-right: auto;

   border-left: 1px solid #4A5CB7;
   border-right: 1px solid #4A5CB7;
}

#contact {
   background: #EEF;
   margin: 0 1em;
   padding: 0.5em 5%;
   border-bottom: 1px solid #ccd;
}

#contact dt{
   margin: 0;
   float: left;
   clear: left;
}

#contact dd{
   text-align: right;
   margin: 0;
}

#pretentious-c{
   font-size: 75%;
   line-height: 0;
   position: relative;
   vertical-align: baseline;
   top: -0.5em;
}

.credits{
   border-collapse: collapse;
   margin-bottom: 1em;
}

.credits th{
   color: #4A5CB7;
   border-bottom: 1px solid #000;
   display: none;
}

.credits tr{
   display: block;
}

.credits tbody tr:nth-child(even){
   background: #EEF;
 }

.credits tbody td:first-child{
}

.credits tbody td:first-child:before{
   font-weight: 600;
   content: "Show: ";
}

.credits tbody td:first-child + td:before{
   font-weight: 600;
   content: "Venue: ";
}

.credits tbody td:first-child + td + td:before{
   font-weight: 600;
   content: "Director: ";
}

.credits tbody td:first-child + td + td + td:before{
   font-weight: 600;
   content: "Role: ";
}

.credits td{
   display: block;
   font-size: 0.9em;
   padding: 0.3em;
   widows: 2;
   orphans: 2;
}

.top-level{
   width: 100%;
   clear: both;
   text-align: left;
   padding-top: 1em;
   padding-bottom: 1em;
}

.section-contents{
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 1em;
}

.note{
   font-size: 0.9em;
   margin: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 50em) {
   header {
      border: none;
      padding: 0;
      margin: 1.5em 0;
      width: 62.5%;
      text-align: right;
      float: left;
      border-right: 5px solid #4A5CB7;
   }

   h1{
      font-size: 3em;
      margin-left: 4%;
      padding-right: 2%;
   }

   h2{
      font-size: 1.85em;
      margin-left: 4%;
      padding-right: 2%;
      border-bottom: 3px double #4A5CB7;
   }

   h3{
      font-size: 1.33em;
      text-align: right;

      float: left;
      clear: left;

      border: none;
      border-right: 3px solid #4A5CB7;
      border-bottom: 1px solid #4A5CB7;

      width: 20%;
      margin-left: 10%;
      padding-left: 0;
      padding-right: 2%;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
   }


   #contact{
      background: none;
      margin: 1.5em 0;
      padding: 2%;
      width: 32.5%;
      float: left;
      border-top: 1px solid #4A5CB7;
      border-bottom: none;
   }

   #contact dt{
      display: block;
      float: left;
      margin: 0;
   }

   #contact dd{
      display: block;
      margin: 0;
      text-align: right;
   }

   .section-contents{
    //  border-top: 1px solid #4A5CB7;
      margin-left: 32%;
      padding-left: 2%;
      width: 60%;
      margin-bottom: 1em;
   }
}

@media only screen and (min-width: 25em) {
   h1{
      font-size: 3em;
   }

   h2{
      font-size: 1.85em;
   }

   .credits{
      display: table;
      border-collapse: collapse;
      margin-bottom: 1em;
   }

   .credits th{
      display: table-cell;
      color: #4A5CB7;
      border-bottom: 1px solid #000;
   }

   .credits tbody tr:nth-child(even){
      background: #EEF;
    }

   .credits tr{
      display: table-row;
   }

   .credits td{
      display: table-cell;
      font-size: 0.9em;
      padding: 0.3em;
      widows: 2;
      orphans: 2;
   }

   .credits tbody td:first-child:before{
      content: "";
   }

   .credits tbody td:first-child + td:before{
      content: "";
   }

   .credits tbody td:first-child + td + td:before{
      font-weight: 600;
      content: "";
   }

   .credits tbody td:first-child + td + td + td:before{
      font-weight: 600;
      content: "";
   }
   
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        //content: " (" attr(href) ")";
    }

    abbr[title]:after {
        //content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
