/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1{
   font-family: 'Poiret One', cursive;
   font-weight: 400;
   font-size: 36pt;
   margin: 0;
}

h2{
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   font-size: 16pt;
   margin: 0;
}

h3{
   clear: both;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   margin-left: 3%;
   border-left: 0.25em solid #DDE;
   padding-left: 2%;
   padding-top: 0.25em;
   padding-bottom: 0.25em;
}

p, table{ 
   margin-left: 10%;
   margin-right: 5%;
   width:   85%;
}

body{
   background: #F0F0F0;
   font-weight: 400;
   font-family: 'Abel', sans-serif;
}

header{
   margin: 0;
   text-align: center;
   margin-bottom: 1em;
   border-bottom: 1px solid;
}

hr{
   clear: both;
}

#container {
   background: #F8F5F5;
   max-width: 50em;
   padding: 5%;
   padding-top: 0;
   margin-left: auto;
   margin-right: auto;
   border-left: 1px dotted #AAA;
   border-right: 1px dotted #AAA;
}

#contact {
   width: 100%;
}

#contact dt{
   margin: 0;
   float: left;
   clear: left;
}

#contact dd{
   margin: 0;
   text-align: right;
}

.credits{
}

.credits table{
   border-collapse: collapse;
}

.credits th{
   font-weight: 400;
}

.credits thead{
   border-bottom: 1px solid;
}

.credits tr{
   border-bottom: 1px dotted gray;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 55em) {
   header {
      text-align: right;
      width: 45%;
      border: none;
      display: table-cell;
   }

   #contact{
      display: table-cell;
      vertical-align: bottom;
      margin: 0;
      max-width: 35%;
      padding-left: 10%;
   }

   #header-wrapper{
      height: 5%;
      display: table;
   }
      
}

@media only screen and (min-width: 35em) {
   body{
      font-size: 16pt;
   }

   h1{
      font-size: 48pt;
   }

   h2{
      font-size: 18pt;
   }
   

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
