h1{
   font-family: 'Poiret One', sans-serif;
   font-weight: 400;
   font-size: 3em;
   margin: 0;
   margin-bottom: -0.25em;
   color: #534462;
}

h3{
   border-bottom: 3px dotted #4A5CB7;

   text-align: left;
   margin-top: 0;
   margin-right: 2%;
   margin-left: 2%;
   margin-bottom: 0.5em;
   padding-top: 0.25em;
   padding-bottom: 0em;
}

hr {
   display: none;
}

#contact {
   background: #EEF;
   margin: 0 1em;
   padding: 0.5em 5%;
   border-bottom: 1px solid #ccd;
}

#contact dt{
   margin: 0;
   float: left;
   clear: left;
}

#contact dd{
   text-align: right;
   margin: 0;
}

#container{
   padding-top: 0;
}

.job-organization{
   display: inline;
}

.job-dates{
   display: inline;
}

.job-duties{
   list-style-type: circle;
}

.credits{
   border-collapse: collapse;
   margin-bottom: 1em;
}

.credits th{
   color: #4A5CB7;
   border-bottom: 1px solid #000;
   display: none;
}

.credits tr{
   display: block;
}

.credits tbody tr:nth-child(even){
   background: #EEF;
 }

.credits tbody td:first-child{
}

.credits tbody td:first-child:before{
   font-weight: 600;
   content: "Show: ";
}

.credits tbody td:first-child + td:before{
   font-weight: 600;
   content: "Venue: ";
}

.credits tbody td:first-child + td + td:before{
   font-weight: 600;
   content: "Director: ";
}

.credits tbody td:first-child + td + td + td:before{
   font-weight: 600;
   content: "Role: ";
}

.credits td{
   display: block;
   font-size: 0.9em;
   padding: 0.3em;
   widows: 2;
   orphans: 2;
}

@media only screen and (min-width: 25em) {
   h1{
      font-size: 4em;
   }

   h2{
      font-size: 1.85em;
   }

}

@media only screen and (min-width: 35em) {
   .credits{
      display: table;
      border-collapse: collapse;
      margin-bottom: 1em;
   }

   .credits th{
      display: table-cell;
      color: #4A5CB7;
      border-bottom: 1px solid #000;
   }

   .credits tbody tr:nth-child(even){
      background: #EEF;
    }

   .credits tr{
      display: table-row;
   }

   .credits td{
      display: table-cell;
      font-size: 0.9em;
      padding: 0.3em;
      widows: 2;
      orphans: 2;
   }

   .credits tbody td:first-child:before{
      content: "";
   }

   .credits tbody td:first-child + td:before{
      content: "";
   }

   .credits tbody td:first-child + td + td:before{
      font-weight: 600;
      content: "";
   }

   .credits tbody td:first-child + td + td + td:before{
      font-weight: 600;
      content: "";
   }
}
   

@media only screen and (min-width: 50em) {
   h3{
      font-size: 1.33em;
      text-align: right;

      float: left;
      clear: left;

      border: none;
      //border-right: 3px dotted #4A5CB7;
      //border-bottom: 1px solid #4A5CB7;

      width: 20%;
      margin: 0;
      margin-left: 10%;
      padding-left: 0;
      padding-right: 2%;
      padding-top: 0;
      padding-bottom: 0;
   }

   hr {
      display: block;
   }

   header {
      border: none;
      padding: 0;
      margin: 1.5em 0;
      width: 62.5%;
      text-align: right;
      float: left;
      border-right: 3px dotted #4A5CB7;
   }

   h1{
      font-size: 4em;
      margin-left: 4%;
      padding-right: 2%;
   }

   h2{
      font-size: 1.85em;
      margin-left: 4%;
      padding-right: 2%;
      //border-bottom: 3px double #4A5CB7;
   }

   #contact{
      background: none;
      margin: 1.5em 0;
      padding: 1.5em 2%;
      padding-right: 0;
      //padding: 2%;
      width: 31.5%;
      float: left;
      //border-top: 1px solid #4A5CB7;
      border-bottom: none;
   }

   #contact dt{
      display: block;
      float: left;
      margin: 0;
   }

   #contact dd{
      display: block;
      margin: 0;
      text-align: right;
   }
}


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

   body{
      font-size: 0.8em;
   }

   header{
      text-align: right;
      width: 55.5%;
      padding: 0 2%;
      border-right: 3px dotted #4A5CB7;
      float: left;
      clear: left;
   }

   h1{
      font-size: 3em;
   }

   h2{
      padding: 0;
      padding-bottom: 0.25em;
   }

   h3{
      font-size: 1.33em;
      text-align: right;

      float: left;
      clear: left;

      border: none;
      //border-right: 3px dotted #4A5CB7;
      //border-bottom: 1px solid #4A5CB7;

      width: 15%;
      margin: 0;
      margin-left: 5%;
      padding-left: 0;
      padding-right: 2%;
      padding-top: 0;
      padding-bottom: 0;
   }

   nav{
      display:none;
   }

   .section-contents{
      border-left: 3px dotted #4A5CB7;
      margin-left: 21.5%;
      padding-left: 2%;
      width: 72.5%;
      margin-bottom: 0em;
      margin-top: 0em;
   }

   .credits{
      display: table;
      border-collapse: collapse;
      margin-bottom: 1em;
   }

   .credits th{
      display: table-cell;
      color: #4A5CB7;
      border-bottom: 1px solid #000;
   }

   .credits tr{
      display: table-row;
      border-bottom: 1px solid #ddd;
   }

   .credits td{
      display: table-cell;
      font-size: 0.9em;
      padding: 0.3em;
      widows: 2;
      orphans: 2;
   }

   .credits tbody td:first-child:before{
      content: "";
   }

   .credits tbody td:first-child + td:before{
      content: "";
   }

   .credits tbody td:first-child + td + td:before{
      font-weight: 600;
      content: "";
   }

   .credits tbody td:first-child + td + td + td:before{
      font-weight: 600;
      content: "";
   }

   hr {
      display: block;
      margin: 0;
   }

   #contact{
      background: none;
      margin: 0;
      padding: 1em 2%;
      padding-right: 0;
      //padding: 2%;
      width: 31.5%;
      //border-top: 1px solid #4A5CB7;
      border-bottom: none;
      display: inline-block;
   }

   #contact dt{
      display: block;
      float: left;
      margin: 0;
   }

   #contact dd{
      display: block;
      margin: 0;
      text-align: right;
   }

   #contact a{
      text-decoration: none;
   }
   
   #container{
      border: none;
   }
}

