---
layout: default
navs: [ [Home, /index.html], [Resume, /computing_resume.html] ]
---
<div id="container">
   <header>
      <h1>
      Nick M<span id="pretentious-c">c</span>Larnan
      </h1>
      <h2>
      Some Semblance of Web Presence
      </h2>
   </header>
   <nav>
      <ul>
         {% for nav in page.navs %}
            <li><a  {% if nav[1] == page.url %}class="here"{% endif %} href="{{ nav[1] }}">{{nav[0]}}</a> </li>
         {% endfor %}
      </ul>
   </nav>
   <hr>

   <article>
   {{ content }}
   </article>

   <footer>
   </footer>
</div>
